.About{
  text-align: center;
  height: 100vh;
  background: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2019%2F01%2Fcanva-photo-editor-8-7.jpg');
  background-size: cover;
  background-position: center;
  text-decoration: underline;
  text-decoration-color: pink;
  border-bottom: 3px
}

.About .text {
	color: white;
	font-weight: 700;
}

.About .primary {
	font-size: 5rem;
	padding-top: 12vh;
}

.About .secondary {
	font-size: 3rem;
}